blinker==1.8.2
Brotli==1.1.0
cachetools==5.3.3
certifi==2024.2.2
cffi @ file:///private/tmp/cffi-20231014-5454-1xfyd4s/cffi-1.16.0
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
Django==2.2
dnspython==2.6.1
docutils @ file:///private/tmp/docutils-20231015-5350-1xd6hrn/docutils-0.20.1
filelock==3.16.1
Flask==3.0.3
google-api-core==2.19.0
google-api-python-client==2.128.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.7
inflate64==1.0.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
kafka-python==2.0.2
MarkupSafe==2.1.5
multivolumefile==0.2.3
numpy==1.26.4
pandas==2.2.2
platformdirs==4.3.6
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
py4j==0.10.9.7
py7zr==0.21.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybcj==1.0.2
pycparser @ file:///private/tmp/pycparser-20231013-5559-1dtd22y/pycparser-2.21
pycryptodomex==3.20.0
pymongo==4.7.1
pyparsing==3.1.2
pyppmd==1.1.0
pyspark==3.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyzstd==0.15.10
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.5.1
texttable==1.7.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.26.6
Werkzeug==3.0.3
