option_settings:
  aws:elasticbeanstalk:application:environment:   
    DJANGO_SETTINGS_MODULE: "ebdjango.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango.wsgi:application

files:
  "/etc/nginx/conf.d/staticfiles.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
          alias /var/app/current/static/;  # Make sure this points to the correct path
          expires 30d;
      }
